@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --body-background: hsl(213, 19%, 18%);
  --card-bg: hsl(216, 12%, 8%);
  --selected: hsl(217, 12%, 63%);
  --text-colour: hsl(216, 12%, 54%);
  --btn-color: hsl(25, 97%, 53%);
  --final-rating: hsl(25, 97%, 53%);
  --offset-white: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  height: 100vh;
  font-family: 'Overpass', sans-serif;
  background: var(--body-background);
  color: #fff;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-rating {
  background: linear-gradient(
    to bottom,
    hsl(212, 20%, 16%),
    hsl(217, 28%, 13%)
  );
  width: 517px;
  height: 519px;
  padding: 4em;
  border-radius: 4rem;
}

.card-rating__star-icon-container {
  width: 6.3rem;
  height: 6.3rem;
  background: var(--body-background);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.card-rating__icon {
  width: 2.05rem;
}

.card-rating__header {
  margin-top: 4rem;
}

.card-rating__heading {
  color: var(--offset-white);
  font-size: 3.49rem;
}

.card-rating__feedback-txt {
  margin-top: 1.55rem;
  line-height: 1.5;
  font-size: 1.89rem;
  color: var(--text-colour);
}

.card-rating__btn-container {
  margin-top: 3.5rem;
  display: flex;
  gap: 2.6em;
}

.card-rating_btn {
  cursor: pointer;
  width: 6.5rem;
  height: 6.5rem;
  background: var(--body-background);
  border-radius: 50%;
  display: grid;
  place-items: center;
  border: none;
  color: var(--text-colour);
  font-size: 2rem;
  font-weight: 700;
}

.card-rating_btn:hover {
  background-color: var(--btn-color);
  color: #fff;
}

.card-rating__btn-submit {
  padding: 1.8rem 2rem;
  background-color: var(--btn-color);
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 1.85rem;
  font-weight: 700;
  letter-spacing: 2.2px;
  cursor: pointer;
  border-radius: 5rem;
  width: 98%;
  text-transform: uppercase;
  margin: 3.9rem auto 0 auto;
  transition: all 0.3s ease;
}

.card-rating__btn-submit:hover {
  background-color: var(--offset-white);
  color: var(--btn-color);
}

.card__thanks {
  display: none;
  background: linear-gradient(
    to bottom,
    hsl(212, 20%, 16%),
    hsl(217, 28%, 13%)
  );
  width: 517px;
  height: 519px;
  padding: 4em;
  border-radius: 4rem;
  text-align: center;
  position: relative;
}

.reload-icon {
  position: absolute;
  background-color: var(--btn-color);
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  border: none;
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 1rem;
}

.reload-icon img {
  width: 2rem;
}

.card__thanks-img-container {
  margin-top: 1.7rem;
}

.card_thanks-img {
  width: 20.9rem;
}

.card_thanks-rating {
  margin-top: 3.5rem;
  font-size: 1.9rem;
  color: var(--final-rating);
  background: var(--body-background);
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 5rem;
}

.card__thanks-msg {
  margin-top: 4rem;
  font-size: 3.5rem;
  color: var(--offset-white);
}

.card__thanks-contact {
  margin-top: 1.6rem;
  font-size: 1.94rem;
  line-height: 1.4;
  color: var(--text-colour);
}

.attribution {
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  color: var(--offset-white);
}

.attribution a {
  color: var(--offset-white);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .card-rating {
    width: 95%;
  }

  .card-rating__star-icon-container {
    width: 6.5rem;
    height: 6.5rem;
  }

  .card-rating__icon {
    width: 2rem;
  }

  .card-rating__btn-container {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  .card-rating_btn {
    width: 6.5rem;
    height: 6.5rem;
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 540px) {
  .card__thanks {
    width: 95%;
  }

  .card__thanks-img-container {
    margin-top: 1.7rem;
  }

  .card_thanks-img {
    width: 20.9rem;
  }

  .card_thanks-rating {
    margin-top: 3.5rem;
    font-size: 1.9rem;
    color: var(--final-rating);
    background: var(--body-background);
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 5rem;
  }

  .card__thanks-msg {
    margin-top: 4rem;
    font-size: 3.5rem;
    color: var(--offset-white);
  }

  .card__thanks-contact {
    margin-top: 1.6rem;
    font-size: 1.94rem;
    line-height: 1.4;
    color: var(--text-colour);
  }
}

@media only screen and (max-width: 475px) {
  .card-rating {
    width: 90%;
    padding: 3em;
    height: 480px;
    border-radius: 2em;
  }

  .card-rating__star-icon-container {
    width: 5rem;
    height: 5rem;
  }

  .card-rating__header {
    margin-top: 4rem;
  }

  .card-rating__heading {
    font-size: 3rem;
  }

  .card-rating__feedback-txt {
    font-size: 1.7rem;
  }

  .card-rating_btn {
    width: 5rem;
    height: 5rem;
  }

  .card-rating__btn-submit {
    padding: 1.4rem 2rem;
    font-size: 1.75rem;
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .card-rating {
    width: 90%;
    padding: 2.8em;
    height: 385px;
  }

  .card-rating__header {
    margin-top: 2rem;
  }

  .card-rating__heading {
    font-size: 2.8rem;
  }

  .card-rating__feedback-txt {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  .card-rating__btn-container {
    margin-top: 2.7rem;
  }

  .card-rating_btn {
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.55rem;
  }

  .card-rating__btn-submit {
    font-size: 1.5rem;
    margin: 2.5rem auto 0 auto;
  }
}

@media only screen and (max-width: 375px) {
  .card__thanks {
    width: 88%;
    border-radius: 2em;
    padding: 2em;
    height: 400px;
  }

  .reload-icon {
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.8em;
    width: 3.5rem;
  }

  .card__thanks-img-container {
    margin-top: 1.7rem;
  }

  .card_thanks-img {
    width: 16rem;
  }

  .card_thanks-rating {
    margin-top: 2.3rem;
    font-size: 1.55rem;
    padding: 0.7rem 1.3rem;
  }

  .card__thanks-msg {
    margin-top: 3rem;
    font-size: 2.55rem;
  }

  .card__thanks-contact {
    margin-top: 1.6rem;
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 370px) {
  .card-rating {
    width: 96%;
    padding: 1.8em;
    height: 385px;
  }
}

@media only screen and (max-width: 320px) {
  .card-rating {
    width: 98%;
    padding: 1.6em;
  }
}

@media only screen and (max-width: 300px) {
  .card-rating_btn {
    width: 4rem;
    height: 4rem;
  }

  .attribution {
    font-size: 1rem;
  }
}
